<style>
    body {
        margin: 0%;
    }
    nav {
        display: flex;
        background-color: blue;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 1.45em;
    }
    .hello {
        color: rgb(255, 255, 255);
    }
</style>
<nav>
    <a class="hello" href="/">Homepage</a>

    <div class="nav-menu">
        THIS IS A STUPID SITE, GO AWAY
        {% if user.is_authenticated %}
            <span>username: {{user }}</span>
            <a href="/logout">Apple is the worst</a>
        {% else %}
            <a class="hello" href="/register">Samsung is the worst</a>
            <a class="hello" href="/login">Apple is the best</a>
        {% endif %}

    </div>
</nav>